body {
    padding: 0;
    margin: 0;
    font-size: 22px;
}

.header,
.footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-height: 50px;
    background-color: grey;
    justify-content: center;
}

.header>.delit  {
    align-self: flex-start;
    margin-left: auto;
    inline-size: 1em;
}
.header>.headerText  {
    margin-left: auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
}

.pathList,
.carList {
    width: 300px;
    padding: 10px;
}

.carList li,
.pathList li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: baseline;
}
.carList li>div:hover,
.pathList li>div:hover {
    text-shadow: 1px 1px 5px grey;
    transform: scale(1.1);
    transition: all 0.2s linear;
    cursor: pointer;
}

.carListContainer,
.pathListContainer {
    padding: 0;
    box-shadow: 3px 3px 10px 1px grey;
    height: 100%;
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.pathListView {
    padding: 0;
    box-shadow: 3px 3px 10px 1px grey;
    height: 100%;
    margin: 10px;
    flex: 1;
    min-width: 300px;
}
.pathListView .View {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
}
.pathListView .View label {
    margin: 0 0 5px 60px;
}
.pathListView .View input {
    height: 1.6rem;
    width: 5rem;
    margin-left: 0.5rem;
}
.pathListView .View div{
    display: flex;
    width: 100%; 
    justify-content: flex-start;
    border: 1px solid #80808030;
    border-right: none;
    align-items: center;
    margin-bottom: 2px;
}

.popUpWrapp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(202, 202, 202, 0.5);
}
.popUpContent{
    padding: 10px;
    box-sizing: border-box;
}
.popUpContentRow{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}

.popUp {
    padding: 0;
    box-shadow: 3px 3px 10px 1px grey;
    position: fixed;
    top: 5%;
    left: 30%;
    box-sizing: border-box;
    background-color: rgba(202, 202, 202, 0.8);
}

.popUp input,
.popUp label,
.popUp select {
    font-size: 1.2rem;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #80808099
}
.popUp label {
    display: flex;
}
.popUp label input {
    width: 20%;
}
.popUp .inputHeader {
    margin: 5px 0 2px 0;
}
.popUp .resultHeader {
    margin: 2px 0 5px 0;
    border-bottom: 1px solid #00000080;
}
.disableButton {
    background-color: #d1d1d126;
    color: #006d0080;
    font-weight: 700;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s linear;
    box-shadow: 0px 0px 1px 0px #00000080;
}
.submit {
    background-color: #d1d1d126;;
    color: #006d00;
    font-weight: 700;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s linear;
    box-shadow: 1px 2px 0px 1px #00000080; 
}
.submit:hover {
    box-shadow: 0px 0px 1px 0px #00000080;
    transition: all 0.2s linear;
}
.delit {
    color: red;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s linear;
}
.delit:hover {
   transform: rotate(90deg) scale(1.2);
   transition: all 0.2s linear;
}
.edit {
    margin-left: auto;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 1px -1px 0px 1px #00000080;
    color: #006d00;
    font-weight: 600;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all 0.2s linear;
}
.edit:hover {
    box-shadow: 0px 0px 1px 0px #00000080;
    transition: box-shadow 0.2s linear;
}
.inputError {
    color: red;
    font-weight: 600;
    text-align: center;
}
.inputErrorCheck {
    outline: 1px solid red;
    opacity: 0.7;
    transition: opacity 0.5s ease-in;
}
.pathListSelectedCar{
    align-self: flex-end;
}
.pathListSelectedCar .table{
    border: 1px solid grey;
    border-collapse: collapse;
}
.pathListSelectedCar th,
.pathListSelectedCar td {
    border: 1px solid grey;
    text-align: center;
}
.anim-enter {
    margin-left: -500px;
}
   
.anim-enter.anim-enter-active {
    margin-left: 0;
    transition: margin .3s ease-in;
}
.anim-leave {
    margin-left: 0;
}
   
.anim-leave.anim-leave-active {
    margin-left: -500px;
    transition: margin .3s ease-in;
}

.selected{
    transform: scale(1.05);
    position: relative;
    text-decoration: underline;
}
.selected::after{
   content: '';
   border: 3px solid grey;
   border-radius: 50%;
   position: absolute;
   top: 10px;
   left: -15px;
}

.counter {
    text-align: center;
    padding: 4px 10px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:60px;
    right: 10px;
    background-color: rgba(202, 202, 202, 0.8);
}
.switchView{
    position: absolute;
    top: 60px;
    right: 0;
    cursor: pointer;
}
.row{
    flex: 1;
    padding: 5px;
}
.selectPagination{
    background-color: rgba(202, 202, 202, 0.8);
    font-weight: 600;
}
.paginationBlock{
    text-align: center;
}
